body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: block;
}
.d-sb{
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    padding: 50px;
    margin: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 0px #000000; 
    box-shadow: 0px 0px 11px 0px #000000;
    background: #E7E7E7;
}
body#tinymce {
background: #FFFFFF                                                                               
}
div {   
    display: flow-root;
    justify-content: center;
    margin-left: 4%;
    width: 1300px;
}
h1{
    text-align: center;
    height: 10px;
}
h3{
    margin-left: 20px;
}
span{
    color: red;
}

