body{
    margin: 0;
    padding: 0;
}

img{
    padding: 50px;
    border-radius: 20px;
    box-shadow:  0px 10px 10px -6px black;
}
div{
    display: flow-root;
    justify-content: center;
    margin-left: 5%;
}
h1{
    text-align: center;
}
h3{
    margin-left: 20px;
}
span{
    color: red;
}
